{% extends 'navbar.html' %}

{% block content %}
    <div class="container">
        <div class = "row">
            <div class = "col s12 m10 l10">
                
                <div class="panel teal darken-1">
                    <span text-align="center" display="block">
                        <img class="center-align responsive-img" src ='/{{ post.img }}'>
                    </span>
                    <h3 class="center-align">{{post.title}}</h3>
                    <p class ="center-align flow-text"> 
                        <span class="white-text">
                        {{post.text}}
                        </span>
                    </p>
                </div>
            </div>
            {% include "sidebar.html" %}
        </div>
    </div>
    

{% endblock %}