{% extends 'navbar.html' %}

{% block content %}
    <div class="container">
        <div class = "row">
            <div class = "col s12 m10 l10">
                
                <div class="panel teal darken-1">
                    <span text-align="center" display="block">
                        <img class="center-align responsive-img" src ='/{{ post.img }}'>
                    </span>
                    <h3 class="center-align">{{post.title}}</h3>
                    <p class ="center-align flow-text"> 
                        <span class="white-text">
                        {{post.text}}
                        </span>
                    </p>
                </div>
            </div>
            {% include "sidebar.html" %}
        </div>
        {% if user.is_authenticated %}
        <div class="row">
            <form action="{% url 'like_post' post.id%}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn" value="{{post.id}}" name="post_id">
                    <i class="medium material-icons">thumb_up</i>
                </button>
            </form>
            <strong> {{ likes_num }} Like{{ likes_num|pluralize }}</strong>
            
        </div>
        <div class = "row">
            <form method="POST">
                {% csrf_token %}
                {{ comment_form.as_p }}
        <button class="btn waves-effect waves-light" 
             type="submit">Опублікувати</button>
            </form>
        </div>
        {% endif %}
        {% for comment in comments %}
            <div class="row">
                <p>{{comment}}</p>
                <p>{{comment.date_posted}}</p>
            </div>
        {% endfor %}
    </div>
    

{% endblock %}