
<script> 
  M.AutoInit();
  document.addEventListener('DOMContentLoaded', function() {
  var elems = document.querySelectorAll('.collapsible');
  console.log(elems);
  var instances = M.Collapsible.init(elems);
  });
</script>
<div class="col s12 m2 l2">
    <ul class="collapsible">
      {% for cat in sidebar %}
      <li>
        <div class="collapsible-header">{{ cat.category_name }}</div>
        <div class="collapsible-body">
            <a href="/{{cat.category_slug}}">
            <span class="black-text flow-text">{{ cat.category_info }}</span>
            
            </a>
           
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
  </div>