{% extends 'navbar.html' %}

{% block content %}
<h1>CHAT</h1>
<div class="row">

    <div class="col s4 m2 l2">
        {% for user_ in users %}
        <div class="row valign-wrapper">
            <div class="col s4">
                <a href="/chat/{{user_.pk}}"><img src="/{{user_.profile.avatar}}" alt="" class="circle responsive-img">
                </a>
            </div>
            <div class="col s8">
              <span class="black-text">
                <a href="/chat/{{user_.pk}}">{{user_.username}}</a>
               
              </span>
            </div>
        </div>
        {%endfor%}
    </div>

    <div class="col s8 m10 l10">
        <div class="row valign-wrapper">
            <div class="col s10">
                <a href="{% url 'look_profile' other_user.username %}">
                    <img src="/{{other_user.profile.avatar}}" alt="" class="circle responsive-img">
                </a>
            </div>
            <div class="col s8">
              <span class="black-text">
                <a href="{% url 'look_profile' other_user.username %}">{{other_user.username}}</a>
               
              </span>
            </div>
        </div>
        <div id="message-area" class="col s8 m10 l10">
            
            
            <div id="messages" class="row">
            {% for message in user_messages %}
            <div class="col s12 m12 l12">
                <div class="card-panel teal lighten-2">
                    <div class="card-content">
                        <p class="left" >{{message.sender.username}}</p> 
                        <p class="left">{{message.message}}</p> 
                    </div>
                </div>   
            </div>
            
            {% endfor %}
            {% for message in messages %}
            <div class="col s12 m12 l12">
                <div class="card-panel teal lighten-2">
                    <div class="card-content">
                        <p class="left" >{{message.sender.username}}</p> 
                        <p class="left">{{message.message}}</p> 
                    </div>
                </div>   
            </div>

            
            {% endfor %}
            </div>
            <div class="row">
                <div class="input-field col s10">
                  <input id="message-input" type="text" data-length="1000">
                </div>
                <div class="col s2">
                    <button id="send-btn"  class="btn waves-effect waves-light" type="submit" name="action">Відправити
                        <i class="material-icons">add</i>
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>
<script>
    let message_send_btd = document.getElementById('send-btn');
    let message_input = document.getElementById('message-input');
    function send_message(){
        let message = message_input.value;
        if (message === ""){
            return;
        }
        message_input.value = "";
        fetch("{% url 'chatroom-ajax' other_user.id %}", 
        {
            method: "POST",
            credentials: "same-origin",
            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": "{{ csrf_token }}"
            },
            body: JSON.stringify({"message": message}),
        }).then(resp => resp.json()).then(messages => {
            console.log("MESSAGES", messages);    
            for (message of messages){
                    show_message(message);
                }           
            }
        ).catch(e => console.log("Error in fetch: " + e));
    }
    function load_messages(){
        console.log("LOADING MESSAGES");
        fetch("{% url 'chatroom-ajax' other_user.id%}", {
            method: "GET",
            credentials: "same-origin",
            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": "{{ csrf_token }}"
            }
        }).then(resp => resp.json()).then(messages => {
            for (message of messages){
                console.log("message: " + message);
                show_message(message);
            }
        });
    }
            
        

   

    function show_message(message){
        console.log('loading...');
        console.log(message);
        let message_container = document.getElementById('messages');
        let class_name = "left";
        if (message.sent){
            class_name = "right";
        }
        let div = document.createElement('div');
        div.classList.add("card-panel " + class_name);
        div.innerHTML = `<div class="col s12 m12 l12">
                <div class="card-panel teal lighten-2">
                    <div class="card-content">
                    <p class="left" > ${ message.sender }</p> 
                    <p class="left">${ message.message }</p> 
                    </div>
                </div>   
            </div>`;
        message_container.appendChild(div);
        div.scrollIntoView();
    } 
    message_send_btd.addEventListener('click', send_message);  
    setInterval(load_messages, 5000);
</script>

{%endblock%}